@import "./reset.css";
@import "./../fonts/EuclidCircularB/stylesheet.css";

html,
body {
  font-family: "Euclid Circular B", sans-serif;
  background: #fff;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav {
  padding: 20px 0;
  /* display: flex; */
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: #010101;
  font-size: 24px;
  font-weight: 400;
  margin-right: 80px;
}

.nav-list {
  display: flex;
  column-gap: 48px;

  color: #656361;
  font-size: 14px;
  font-weight: 400;
}

.nav-list__item {
}

.nav-list__link {
  color: #656361;
}

.nav-list__link:hover {
  color: #0165c3;
}

.nav-list__link--active {
  color: #0165c3;
}

.nav__signin {
  margin-left: auto;
}

.signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;

  color: #656361;
  font-size: 14px;
  font-weight: 400;
}

.signin__item {
}

.signin__link {
  color: #656361;
}

.signin__link:hover {
  color: #0165c3;
}

.btn-signin {
  color: #0165c3;

  padding: 11px 35px;
  border-radius: 100px;
  background: rgba(1, 101, 195, 0.1);
}

.header {
  position: relative;
  padding: 100px 0;
  min-height: 720px;
  background-color: #fbf6f2;
  background-image: url(./../img/header-bg.svg);
  background-size: cover;
}

.header__img {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.header__content {
  max-width: 492px;
}

.header__desc {
  margin-bottom: 25px;
  color: #0165c3;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
}

.header__desc::before {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-image: url(./../img/asterisk.svg);
}

.header__title {
  margin-bottom: 30px;
  color: #010101;
  font-size: 60px;
  font-weight: 400;
  line-height: 75px; /* 125% */
}

.header__text {
  max-width: 460px;
  margin-bottom: 40px;
  color: #656361;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%; /* 25.2px */
}

.header__text p + p {
  margin-top: 1em;
}

.header__form {
  position: relative;
  z-index: 7;
}

.form {
  display: inline-flex;
  column-gap: 40px;
  align-items: center;
  height: 86px;
  padding: 18px 11px 18px 32px;
  border-radius: 1000px;
  background: #fff;
  box-shadow: 0px 40px 80px -20px rgba(104, 70, 42, 0.05);
}

.btn__form {
  height: 64px;
  padding: 22px 35px;
  border-radius: 100px;
  background: #0165c3;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.select {
  position: relative;
  /* width: 140px; */
  color: #010101;
  font-size: 16px;
  font-weight: 400;
  /* padding-right: 20px; */
}

.select--city {
  width: 140px;
  padding-right: 0;
}

.select__real {
  display: none;
}

.select + .select {
  padding-left: 40px;
  border-left: 1px solid #ececec;
}

.select__title {
  margin-bottom: 10px;
}

.select__title::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-left: 12px;
  vertical-align: text-middle;
  background-image: url(./../img/arrow-down.svg);
}

.select__value {
  color: #656361;
}

.select__list {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 12px 0 #d1d0d0;
}

.select__list--visible {
  display: block;
}

.select__list-item {
  padding: 10px 15px;
  width: 169px;
}

.select__list-item:hover {
  background-color: rgba(199, 217, 233, 0.863);
  cursor: pointer;
}

.select__list-item + .select__list-item {
  border-top: 1px solid #fefefe;
  margin-top: 10px;
}

.select__list-item--active {
  font-weight: bold;
  color: #0165c3;
}

.partners {
  padding: 150px 0 100px;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-header__desc {
  color: #0165c3;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.section-header__title {
  color: #010101;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -0.225px;
  margin-bottom: 25px;
}

.section-header__text {
  max-width: 481px;
  color: #656361;
  font-size: 16px;
  font-weight: 400;
}

.partners__logos {
  padding: 25px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services {
  min-height: 700px;
  padding: 80px 0 62px;
  background-color: #f2f7fd;
}

.list__card-product {
  padding-top: 40px;
  display: flex;
  column-gap: 30px;
}

.list__card-product-item {
  width: 380px;
  height: 339px;
  padding: 40px;
  text-align: left;
  border-radius: 15px;
  background: #fff;
}

.list__card-product-item:hover {
  box-shadow: 0px 17px 60px -7px rgba(35, 37, 84, 0.5);
  transition: 0.2s ease-in;
}

.card-product__img {
  width: 64px;
  height: 64px;
  padding: 16px;
  border-radius: 15px;
  background: #eef3f8;
  box-shadow: 0px 17px 60px -7px rgba(35, 37, 84, 0.05);
  margin-bottom: 24px;
}

.card-product__img img {
  width: 32px;
  height: 32px;
}

.card-2 {
  background-color: #fcf8ee;
}

.card-product__title {
  color: #010101;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}

.card-product__text {
  width: 296px;
  height: 86px;
  color: #656361;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8; /* 28.8px */
  margin-bottom: 24px;
}

.card-product__learn-more {
  color: #0165c3;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.card-product__learn-more:hover {
  font-weight: 600;
  transition: 0.2s ease-in;
}

.subscribe {
  padding: 100px 0;
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 0;
  min-height: 413px;
  background: #faf5f1;
  text-align: center;
}

.subscribe-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 587px;
}

.subscribe__title {
  min-width: 564px;
  color: #010101;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: -0.2px;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.subscribe__text {
  max-width: 397px;
  color: #656361;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8; /* 28.8px */
  margin-bottom: 48px;
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 587px;
  height: 72px;
  padding: 8px 8px 8px 24px;
  flex-shrink: 0;
  border-radius: 1000px;
  border: 1px solid #d4cbc4;
  background-color: #fff;
}

.subscribe__form:hover {
  box-shadow: 0px 17px 60px -7px rgba(84, 81, 35, 0.5);
  /* box-shadow: 0px 17px 60px -7px rgba(35, 37, 84, 0.5); */
  transition: 0.2s ease-in;
}

.subscribe__input::placeholder {
  color: #8b7563;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.input__marker {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.subscribe__input {
  margin-right: 16px;
}

.btn-subscribe {
  margin-left: auto;
  padding: 18px 32px;
  border-radius: 1000px;
  background: #0165c3;
  color: #fff;

  font-size: 16px;
  font-weight: 400;
}
